<div class="collection-section-bg py-4">
  <div class="container">
    <h3 class="mainpage-headers">shop by collections</h3>
    <div class="main-collection-circles ">
      {% for collection in collections %}
        {% unless collection.title contains "room" or collection.title contains "All Art" or collection.title == "Kitchen" or collection.title contains "Office" %}
          <div class="circle-wrapper">
            <a href="{{collection.url}}">
              <div class="collection-image">
                <img
                  data-src="{{ collection.image.src | collection_img_url: '100x' }}"
                  class="lazyload"
                  alt="{{collection.title}} | Buy modern canvas & posters art  " />
              </div>
            </a>
            <a href="{{collection.url}}">
              <div class="collection-title text-center">
                {{ collection.title }}
              </div>
            </a>
          </div>
        {% endunless %}
      {% endfor %}
    </div>

  </div>
</div>

{% schema %}
  {
    "name": "All Collections",

    "presets": [
      {
        "name": "Collection Section",
        "category": "Collection Sections"
      }
    ]
  }
{% endschema %}